<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="maincontent relative">
          <div class="innerpage">
            <div class="breadcrumbs">
              <div class="container">
                <div class="breadcrumbs__items">
                  <ul>
                    <li>
                      <a href="/"><span>Tip Expo</span></a>
                    </li>
                    <li>
                      <span>Портфолио</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="pagecontent">
              <div class="container">
                <div class="pageheader flex content-between items-center">
                  <div class="pageheader__title">
                    <h1>Портфолио</h1>
                  </div>

                  <div class="pageheader__panel">
                    <div class="selectbox">
                      <select name="" id="">
                        <option value="1">Все года</option>
                        <option value="2">Все года</option>
                        <option value="3">Все года</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="pagemain">
                  <div class="cards">
                    <div class="cardsitems__items">
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                      <div class="cardsitems__item">
                        <div class="sliderworks__content">
                          <div class="sliderworks__image">
                            <div class="sliderworks__imgblock">
                              <div class="sliderworks__mask"></div>
                              <div class="sliderworks__img" style="background-image: url(img/card1.jpg);">

                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__card">

                            <div class="sliderworks__title">ПРОДЭКСПО</div>
                            <div class="sliderworks__footer">
                              <div class="sliderworks__info">Москва, Россия, Ruplastica</div>
                              <div class="sliderworks__button">
                                <a href="#" class="btn btn_texticon">
                                  <span class="btn__text">Подробнее</span>
                                  <span class="btn__icon"><img src="img/Right.svg" alt=""></span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sliderworks__params">
                            <div class="sliderworks__param">62 м<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="paginationblock">
                      <div class="pagination">
                        <a href="#" class="pagination__arrLeft disabled">
                          <img src="img/pagiRight.svg" alt="">
                        </a>
                        <ul>
                          <li class="active"><a href="">1</a></li>
                          <li><a href="">2</a></li>
                          <li><a href="">3</a></li>
                          <li><span>...</span></li>
                          <li><a href="">135</a></li>
                        </ul>
                        <a href="#" class="pagination__arrRight">
                          <img src="img/pagiRight.svg" alt="">
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>