<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="maincontent maincontent_innerpage">
          <div class="innerpage">
            <div class="breadcrumbs">
              <div class="container">
                <div class="breadcrumbs__items">
                  <ul>
                    <li>
                      <a href="/"><span>Tip Expo</span></a>
                    </li>
                    <li>
                      <span>Портфолио</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="pagecontent">
              <div class="container">
                <div class="pageheader__back onlyDesktop">
                  <a href="">
                    <img src="img/pagiRight.svg" alt=""><span>Назад к списку</span>
                  </a>
                </div>

                <div class="pagemain">
                  <div class="detailpage">
                    <div class="detailpage__wrapper">
                      <div class="detailpage__main">
                        <div class="detailpage__image">
                          <div class=" swiper mySwiper2">
                            <div class="swiper-wrapper">
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="img/9dddc43b55d4f240b57a7132097841f3.jpg">
                                  <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">
                                </a>
                              </div>
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=OCWj5xgu5Ng">
                                  <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">

                                </a>
                              </div>
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="img/9dddc43b55d4f240b57a7132097841f3.jpg">
                                  <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">

                                </a>
                              </div>
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="img/7f95d3ad9ba379509f3e956862d70e52.jpg">
                                  <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">

                                </a>
                              </div>
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="img/9dddc43b55d4f240b57a7132097841f3.jpg">
                                  <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">

                                </a>
                              </div>
                              <div class="detailpage__img swiper-slide">
                                <a data-fancybox="gallery" href="img/7f95d3ad9ba379509f3e956862d70e52.jpg">
                                  <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">

                                </a>
                              </div>
                            </div>
                            <div class="swiper-pagination"></div>

                          </div>
                        </div>
                        <div class="detailpage__content">
                          <div class="detailpage__title">
                            <h1>Стенд “Экспо”</h1>
                          </div>
                          <div class="detailpage__location">
                            <div class="detailpage__loc"><img src="img/Location.svg" alt=""><span>Rusplastica</span>
                            </div>
                            <div class="detailpage__loc"><img src="img/Location.svg" alt=""><span>Москва, Россия,
                                Ruplastica</span></div>
                          </div>
                          <div class="detailpage__params">
                            <div class="detailpage__param">
                              <div class="detailpage__dt">Площадь застройки</div>
                              <div class="detailpage__dd">62м<sup>2</sup></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="detailpage__footer">
                        <div class="detailpage__previews  onlyDesktop">
                          <div thumbsSlider="" class=" swiper mySwiper">
                            <div class="swiper-wrapper">
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent">
                                  <div class="detailpage__previewimg ">
                                    <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent detailpage__previewcontent_video">
                                  <div class="detailpage__previewimg">
                                    <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent">
                                  <div class="detailpage__previewimg">
                                    <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent">
                                  <div class="detailpage__previewimg">
                                    <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent">
                                  <div class="detailpage__previewimg">
                                    <img src="img/9dddc43b55d4f240b57a7132097841f3.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="detailpage__preview swiper-slide">
                                <div class="detailpage__previewcontent">
                                  <div class="detailpage__previewimg">
                                    <img src="img/7f95d3ad9ba379509f3e956862d70e52.jpg" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                          </div>
                        </div>

                        <div class="detailpage__pagination">
                          <div class="detailpage__prev detailpage_nav">
                            <a href="#" class=" detailpage__navbtn">
                              <div>
                                <img src="img/prevarrow.svg" alt="">
                                <span class="onlyDesktop">Предыдущий проект</span>
                                <span class="onlyMobile">Пред. проект</span>
                              </div>
                            </a>
                          </div>
                          <div class="detailpage__next detailpage_nav">
                            <a href="#" class=" detailpage__navbtn">
                              <div>
                                <span class="onlyDesktop">Следующий проект</span>
                                <span class="onlyMobile">След. проект</span>
                                <img src="img/nextarrow.svg" alt="">

                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>