<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="maincontent relative">
          <div class="innerpage">
            <div class="breadcrumbs">
              <div class="container">
                <div class="breadcrumbs__items">
                  <ul>
                    <li>
                      <a href="/"><span>Tip Expo</span></a>
                    </li>
                    <li>
                      <span>Портфолио</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="pagecontent">
              <div class="container">
                <div class="pageheader flex content-between items-center">
                  <div class="pageheader__title">
                    <h1>Услуги</h1>
                  </div>
                </div>
                <div class="pagemain">
                  <div class="servicelist">
                    <div class="servicelist__items">
                      <div class="servicelist__item">
                        <div class="serviceitem">
                          <div class="serviceitem__content">
                            <div class="serviceitem__col serviceitem__left">
                              <div class="serviceitem__image wow animate__animated animate__fadeInLeft">
                                <div class="serviceitem__img"><img src="img/9dddc43b55d4f240b57a7132097841f3.jpg"
                                    alt=""></div>
                              </div>
                            </div>
                            <div class="serviceitem__col serviceitem__right">
                              <div class="serviceitem__main wow animate__animated animate__fadeInRight">
                                <div class="serviceitem__title">Подготовим к выставке</div>
                                <div class="serviceitem__text">По своей сути рыбатекст является альтернативой
                                  традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                                  прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
                                  любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="servicelist__item">
                        <div class="serviceitem">
                          <div class="serviceitem__content">
                            <div class="serviceitem__col serviceitem__left">
                              <div class="serviceitem__main wow animate__animated animate__fadeInLeft">
                                <div class="serviceitem__title">Построим стенд</div>
                                <div class="serviceitem__text">По своей сути рыбатекст является альтернативой
                                  традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                                  прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
                                  любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
                              </div>
                            </div>
                            <div class="serviceitem__col serviceitem__right">
                              <div class="serviceitem__image wow animate__animated animate__fadeInRight">
                                <div class="serviceitem__img"><img src="img/9dddc43b55d4f240b57a7132097841f3.jpg"
                                    alt=""></div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="servicelist__item">
                        <div class="serviceitem">
                          <div class="serviceitem__content">
                            <div class="serviceitem__col serviceitem__left">
                              <div class="serviceitem__image  wow animate__animated animate__fadeInLeft">
                                <div class="serviceitem__img"><img src="img/9dddc43b55d4f240b57a7132097841f3.jpg"
                                    alt=""></div>
                              </div>
                            </div>
                            <div class="serviceitem__col serviceitem__right">
                              <div class="serviceitem__main  wow animate__animated animate__fadeInRight">
                                <div class="serviceitem__title">Сопроводим проект</div>
                                <div class="serviceitem__text">По своей сути рыбатекст является альтернативой
                                  традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                                  прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
                                  любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="servicelist__item">
                        <div class="serviceitem">
                          <div class="serviceitem__content">
                            <div class="serviceitem__col serviceitem__left">
                              <div class="serviceitem__main  wow animate__animated animate__fadeInLeft">
                                <div class="serviceitem__title">Сопроводим проект</div>
                                <div class="serviceitem__text">По своей сути рыбатекст является альтернативой
                                  традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                                  прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
                                  любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
                              </div>
                            </div>
                            <div class="serviceitem__col serviceitem__right">
                              <div class="serviceitem__image  wow animate__animated animate__fadeInRight">
                                <div class="serviceitem__img"><img src="img/9dddc43b55d4f240b57a7132097841f3.jpg"
                                    alt=""></div>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="servicelist__item">
                        <div class="serviceitem">
                          <div class="serviceitem__content">
                            <div class="serviceitem__col serviceitem__left">
                              <div class="serviceitem__image wow animate__animated animate__fadeInLeft">
                                <div class="serviceitem__img"><img src="img/9dddc43b55d4f240b57a7132097841f3.jpg"
                                    alt=""></div>
                              </div>
                            </div>
                            <div class="serviceitem__col serviceitem__right">
                              <div class="serviceitem__main wow animate__animated animate__fadeInRight">
                                <div class="serviceitem__title">Сопроводим проект</div>
                                <div class="serviceitem__text">По своей сути рыбатекст является альтернативой
                                  традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                                  прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит
                                  любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>