<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <style>
      ul {
        margin: 100px 0;
      }

      li {
        margin-bottom: 15px;
        list-style: none;
        display: inline-block;
        display: block;
        font-size: 30px;
      }
    </style>
    <main>
      <div class="container">
        <ul>
          <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная</a></li>
          <li><a href="index2.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная 2</a></li>


        </ul>
      </div><!-- /.container -->
    </main>