<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <style>
      ul {
        margin: 100px 0;
      }

      li {
        margin-bottom: 15px;
        list-style: none;
        display: inline-block;
        display: block;
        font-size: 30px;
      }
    </style>
    <main>
      <div class="container">
        <ul>
          <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная</a></li>
          <li><a href="index2.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная 2</a></li>
          <li><a href="project_list.html" target="_blank" rel="noopener noreferrer" class='btn_main'>портфолио</a></li>
          <li><a href="project_detail.html" target="_blank" rel="noopener noreferrer" class='btn_main'>кейс</a></li>
          <li><a href="services.html" target="_blank" rel="noopener noreferrer" class='btn_main'>услуги</a></li>
          <li><a href="reviews.html" target="_blank" rel="noopener noreferrer" class='btn_main'>отзывы</a></li>
          <li><a href="contacts.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Контакты</a></li>
          <li><a href="modal.html" target="_blank" rel="noopener noreferrer" class='btn_main'>форма</a></li>


        </ul>
      </div><!-- /.container -->
    </main>