@import './partials/params.scss';
@import './partials/mixins.scss';

body {
  min-width: 320px;
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $textcolor;
  overflow-x: hidden;
  width: 100%;
}

* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

ul {
  @include clear;
}

@media (min-width: 1024px) {
  .onlyMobile {
    display: none !important;
  }
}

.container {
  @include container;
}



.togglesearch {
  .headersearch {
    /*   width: 0; */
    background: #fff;
    opacity: 1;
    display: none;
    z-index: -99;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    form {
      height: 100%;
    }

    .headersearch__wrapper {
      height: 100%;
      @include container;
    }
  }

  .headersearch.active {
    /*  width: 100%; */
    opacity: 1;
    z-index: 3;
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .headersearch__close {
    margin-right: 13px;
    margin-left: 13px;
    opacity: 0.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .headersearch__close:hover {
    opacity: 1;
  }

  $headersearch_w: 64px;

  .headersearch__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    input {
      display: block;
      width: calc(100% - #{$headersearch_w});
      height: 100%;
      background: #ffffff;
      border: none;
      padding: 0 15px;
      font-weight: 400;
      font-size: 20px;
    }

    /* input:focus {
				border: 1px solid $green;
			} */
    button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
    }
  }


}

.lb-data .lb-number {
  display: none !important;
}

.lightbox {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed !important;
  top: 0 !important;
}

#lightboxOverlay {
  height: 100% !important;
  left: 0;
  position: fixed !important;
  top: 0;
  width: 100% !important;
}

.lb-outerContainer {
  margin: auto;
}

.lb-image {
  margin: auto;
}

.lb-close {
  bottom: 100%;
  position: fixed;
  right: 3%;
  top: 30px;
}

#video-bg {
  height: 100%;
  margin-top: 0;
  max-height: 100%;
  overflow: hidden;
  right: 0;
  z-index: 1;
  z-index: -1
}

#video-bg,
#video-bg:after {
  left: 0;
  position: absolute;
  top: 0
}

#video-bg:after {
  content: "";
  width: 100%
}

#video-bg>video {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  width: auto
}

.jsbackdrop {
  background: rgba(52, 60, 75, 0.5);
  display: none;
  position: fixed;
  z-index: 99999;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.jsbackdrop.active {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.relative {
  position: relative;
}


.w-full {
  width: 100%;
}