@import './partials/params.scss';
@import './partials/mixins.scss';
@import './default.scss';
@import './fonts.scss';
@import './modal.scss';

body {
	font-family: 'Jost';

}


* {
	font-family: 'Jost';
}

.maincontent {
	padding-top: 133px;
	background-size: cover;
	background-position: center top;
}

.mainbanner {
	display: flex;
	align-items: center;
	min-height: 930px;
	padding-bottom: 170px;
	max-width: 909px;

	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 100%;
		/* or 60px */

		text-transform: uppercase;

		margin-bottom: 38px;
		color: #FFFFFF;
	}
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 133px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.iso {
	margin-left: 60px;
}


.mainmenuLevelOne {
	a {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		/* identical to box height, or 18px */
		padding: 0 26px;

		color: #FFFFFF;
		height: 133px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			color: #FFFFFF;
			background: linear-gradient(180deg, rgba(159, 22, 255, 0) 0%, rgba(159, 22, 255, 0.5) 100%);
		}
	}
}

.mainbanner__items {}

.mainbanner__item {
	margin-bottom: 59px;
	max-width: 156px;
	margin-right: 52px;

	&:last-child {
		margin-right: 0;
	}
}

.mainbanner__itemtitle {
	margin-bottom: 18px;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-transform: uppercase;

	color: #FFFFFF;
}

.mainbanner__itemtext {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 100%;
	/* or 22px */


	color: #FFFFFF;
}


.mainbanner__button {}

.btn {
	display: flex;
	height: 76px;
	align-items: center;
}

.btn__icon {
	background-color: rgba(122, 19, 194, 1);
	display: flex;
	height: 100%;
	width: 76px;
	justify-content: center;
	align-items: center;
}

.btn__text {
	display: flex;
	height: 100%;
	align-items: center;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	justify-content: center;
	/* identical to box height, or 18px */
	padding: 0 42px;
	text-transform: uppercase;

	color: #FFFFFF;

	background-color: rgba(159, 22, 255, 1)
}